<div class="container">
    <h2>My Recent Work</h2>

    <div class="body">
        <h4>
            Here are a few design projects I've worked on recently. Want to see more? 
            <a  href="mailto:aditiparashar592@gmail.com"> Email Me</a>
        </h4>
    </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <figure class="figure" id="parent1">
                <img src="assets/art1.JPG" class=" image figure-img img-fluid rounded"
                    alt="Art 1">
                <div class="overlay">
                    <p>High-end, custom residential renovaters serving Fraser Valley homeowners.
                    </p>
                    <a href="https://mattfarley.ca/">View Website
                    </a></div>
            </figure>
        </div>
        <div class="col-sm-4">
            <figure class="figure" id="parent1">
                <img src="assets/art3.jpg" class="image figure-img img-fluid rounded"
                    alt="Art 1">
                <div class="overlay">
                    <p>Uniting First Nations culture and community through winter sports competition.
                    </p>
                    <a href="https://mattfarley.ca/">View Website
                    </a></div>
            </figure>
        </div>
        <div class="col-sm-4">
            <figure class="figure" id="parent1">
                <img src="assets/art4.JPG" class="image figure-img img-fluid rounded"
                    alt="Art 1">
                <div class="overlay">
                    <p>Blockchain pioneers bringing transparency, trust, and security to supply.
                    </p>
                    <a href="https://mattfarley.ca/">View Website
                    </a></div>
            </figure>
        </div>
        <div class="col-sm-4">
            <figure class="figure" id="parent1">
                <img src="assets/art7.jpg" class="image figure-img img-fluid rounded"
                    alt="Art 1">
                <div class="overlay">
                    <p>Business savvy tech experts helping forward thinking companies get things done.
                    </p>
                    <a href="https://mattfarley.ca/">View Website
                    </a></div>
            </figure>
        </div>
        <div class="col-sm-4">
            <figure class="figure" id="parent1">
                <img src="assets/art7.jpg" class="image figure-img img-fluid rounded"
                    alt="Art 1">
                <div class="overlay">
                    <p>Vancouver's tower crane rental service and support leader since 1974.

                    </p>
                    <a href="https://mattfarley.ca/">View Website
                    </a></div>
            </figure>
        </div>
        <div class="col-sm-4">
            <figure class="figure" id="parent1">
                <img src="assets/art7.jpg" class="image figure-img img-fluid rounded"
                    alt="Art 1">
                <div class="overlay">
                    <p>Results-oriented, responsive and flexible full service civil engineering firm.
                    </p>
                    <a href="https://mattfarley.ca/">View Website
                    </a></div>
            </figure>
        </div>
</div>