<div class="column">
    <h1>  Designer, FullStack Developer &amp; Artist</h1>
    <h4>I design and code beautifully simple things, and I love what I do.</h4>
      
  </div>
<div class="profile">
  <img class="avatar" src="assets/aditi.jpeg" width="200"
  height="200">
  </div>
  <div class="container"><img class="is-bottom" src="assets/hero.svg"></div>

  <div class="c">
  <div class="intro">
      <h2>Hi, I’m Aditi. Nice to meet you.</h2>
    <div class="align">  <h4>Since beginning my journey as a  designer nearly 3 years ago,
           I've done remote work for agencies, consulted for startups, and collaborated
            with talented people to create digital products for both business and consumer use.
             I'm quietly confident, naturally curious, and perpetually working on improving my 
             chops one design problem at a time.</h4></div>
    </div>
    </div>

    <div class="container">
            <div class="box">
                <div class="row" style="box-shadow: 1px solid;">
                    <div class="col-sm" style="padding-top: 15px;">
                        <img src="assets/front.jpg" alt="Front" width="100" height="100" />
                        <h4>Frontend</h4>
                        <p>
                            I like to code things from scratch, 
                            and enjoy bringing ideas to life in the browser.
                        </p>
                        <h5>Languages i know:</h5><br>
                        <p> HTML, CSS, Scss, and Many more..</p>
                        <h5>Dev Tools:</h5>
                        <p>Atom<br>
                            Bitbucket<br>
                            Bootstrap<br>
                            Bulma<br>
                            Github<br>
                            Gitlab<br>
                            Terminal<br>
                        </p>
                        <hr>
                    </div>

                    <div class="col-sm" style="padding-top: 15px;">
                        <img src="assets/back.jpg" style="padding-top: 18px;" alt="Back"
                         width="80" height="80" />
                        <h4 style="padding-top: 40px;" >Backend</h4>
                        <p>
                            I dont like to code things from scratch, and enjoy bringing ideas to life in the browser.
                        </p>
                        <h5>Languages i know:</h5><br>
                        <p> Java , Spring Boot , REST  Many more..</p>
                        <h5>Dev Tools:</h5>
                        <p>Atom<br>
                            Bitbucket<br>
                            Bootstrap<br>
                            Bulma<br>
                            Github<br>
                            Gitlab<br>
                            Terminal<br>
                        </p>
                        <hr>
                    </div>


                    <div class="col-sm" style="padding-top: 25px;">
                        <img src="assets/designer.jpg"  alt="Designer" width="80" height="80" />
                        <h4 style="padding-top: 30px;" >Designer</h4>
                        <p>
                            I value simple content structure, clean design patterns, and thoughtful interactions
                        </p>
                        <h5>Things I  enjoy designing:</h5><br>
                        <p>UX, UI, Web, Mobile, Apps, Logos</p>
                        <h5>Design Tools:</h5>
                        <p>
                            Balsamiq Mockups<br>
                            Figma<br>
                            Invision<br>
                            Marvel<br>
                            Pen & Paper<br>
                            Sketch<br>
                           
                            Zeplin</p>
                        <hr>
                    </div>
                </div>
            </div>
    </div>